.vs--searchable .vs__dropdown-toggle {
  cursor: text;
  padding: 0.42rem 0.75rem;

  &:focus {
    border-color: rgba($theme-color-1, 0.6) !important;
  }
}

.vs__search,
.vs__search:focus {
  color: rgb(130, 130, 130);
  margin: 0 !important;
}

.vs__selected {
  margin: 0 !important;
}

.vs__dropdown-menu {
  margin-top: 3px !important;
  padding-bottom: 0;
  padding: 0 !important;
  overflow: auto !important;
  border-radius: initial !important;
  border-color: transparent !important;
  background: #fff;
  box-shadow: 0px 4px 26px -10px rgba(0, 0, 0, 0.25) !important;
  // border-radius: 0px 0px 5px 5px;

  .vs__dropdown-option {
    transition: initial;
    padding: 8px 12px !important;

    &.vs__dropdown-option--highlight {
      background: #edf6ff !important;
      color: inherit;
    }
  }
}

.vs--open .vs__dropdown-toggle {
  border-bottom-color: rgba(60, 60, 60, 0.26) !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vs__clear {
  display: none;
  fill: rgba(60, 60, 60, 0.5);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
}
