.vue-country-select {
  border-radius: 0.25rem 0 0 0.25rem !important;
  display: inline-block !important;
  border: 1px solid #ced4da !important;
  border-right: none !important;
  text-align: left !important;
}

.vue-country-select:focus-within {
  box-shadow: none !important;
  border-color: #ced4da !important;
}
