<template>
  <div class="mb-5 py-3 slider">
    <b-carousel
      id="carousel-fade"
      style="text-shadow: 0px 0px 2px #000"
      fade
      controls
      img-width="1024"
      img-height="480"
    >
      <b-carousel-slide caption="" img-src="/images/carousel/item.png">
        <div class="container mt-3 shop col-lg-9 col-md-11 p-0">
          <p class="headings title">
            Curating an African experience you deserve
          </p>

          <button class="btn headings font-bold py-3 px-4">
            Explore our collections
          </button>
        </div>
      </b-carousel-slide>
      <b-carousel-slide
        caption="Second Slide"
        img-src="/images/carousel/item.png"
      ></b-carousel-slide>
    </b-carousel>
  </div>
</template>

<style lang="scss">
.slider {
  .carousel-item {
    img {
      min-height: 300px;
      object-fit: cover;
    }
  }
  .title {
    font-size: 2.5rem;
  }

  .btn {
    background: #deba9d;
    color: #27272a;
  }
  .carousel-caption {
    position: absolute;
    right: auto;
    bottom: auto;
    top: 15%;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 64px;
    height: 64px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 5%;
    opacity: 1;
    align-items: end;
  }

  .carousel-control-prev {
    right: 64px;
    left: auto;
  }
  .carousel-control-prev-icon {
    background-image: url("/images/icons/leftcontrol.svg");
  }
  .carousel-control-next-icon {
    background-image: url("/images/icons/rightcontrol.svg");
  }
}

@media (max-width: 640px) {
  .slider {
    .carousel-item {
      img {
        // min-height: 270px;
        object-fit: cover;
      }
    }
    .carousel-caption {
      top: 5%;
      .name {
        font-size: 1.1rem;
      }
      .price {
        font-size: 2rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
}
</style>
