<template>
  <div class="cart-component px-2">
    <!-- loop through cart items -->
    <div class="" v-for="(item, index) in cart" :key="index">
      <div class="row mb-4">
        <div class="col-md-4 col-3">
          <img :src="item.imageUrl" alt="" class="w-100" />
        </div>
        <div class="col-md-8 col-9 p-0">
          <div
            class="
              d-flex
              flex-column
              align-items-center
              justify-content-md-enter
              h-100
              text-small
              name
            "
          >
            <span>{{ item.name }}</span>
            <div class="d-flex w-100">
              <div
                class="
                  d-flex
                  align-items-center
                  justify-content-md-center
                  h-100
                "
              >
                <label for="quantity" class="mb-0 font-bold">QTY</label>
              </div>

              <div
                class="
                  d-flex
                  align-items-center
                  justify-content--md-center
                  md-
                  h-100
                  text-primary
                  price
                "
              >
                N{{ item.price }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- button to view and -->
    <div class="row">
      <div class="col-md-6 px-1">
        <router-link to="/cart">
          <button class="btn btn-outline w-100 mb-md-0 mb-2">
            View cart
          </button></router-link
        >
      </div>
      <div class="col-md-6 px-1">
        <router-link to="/checkout">
          <button class="btn btn-variant w-100">Checkout</button></router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cart: [
        {
          name: " Sony 65' 4k Android Tv With Google Assistant & Chromecast",
          brand: "Sony",
          price: "446,250",
          imageUrl: "/images/products/item2.jpg",
          ratings: 3,
          quantity: "1",
        },
        {
          name: " Sony 65' 4k Android Tv With Google Assistant & Chromecast",
          brand: "Sony",
          price: "446,250",
          imageUrl: "/images/products/item2.jpg",
          quantity: "1",
          ratings: 3,
        },
      ],
    };
  },
  methods: {
    removeItem(index) {
      this.cart.splice(index, 1);
    },
  },
};
</script>
<style lang="scss">
.cart-component {
  color: #71717a;
  .dropdown-menu {
    min-width: 20rem;
  }
  .price {
    font-size: 1.1rem;
    font-weight: 700;
  }
  label {
    color: #a1a1aa;
    font-size: 0.85rem;
  }
  .vs--searchable .vs__dropdown-toggle {
    padding: 5px;
    min-width: 3.5rem;
    border: none;
  }
  .vs__search,
  .vs__search:focus {
    padding: 0;

    line-height: 0;
    border: none;
  }
  .vs--single .vs__selected {
    color: #71717a;
    font-size: 0.85rem;
  }
  .vs__open-indicator {
    fill: #a1a1aa;
  }
  .vs__dropdown-menu {
    min-width: 3.5rem;
  }

  .vs__actions {
    display: flex;
    align-items: center;
    padding: 2px 6px 0 3px;
  }
}
</style>
