<template>
  <b-input-group size="sm" class="filter">
    <b-input-group-append>
      <svg
        width="25"
        height="25"
        viewBox="0 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.1572 19.5C15.5065 19.5 19.0322 15.9742 19.0322 11.625C19.0322 7.27576 15.5065 3.75 11.1572 3.75C6.80798 3.75 3.28223 7.27576 3.28223 11.625C3.28223 15.9742 6.80798 19.5 11.1572 19.5Z"
          stroke="#27272A"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M16.7246 17.1938L21.2809 21.7501"
          stroke="#27272A"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </b-input-group-append>
    <b-form-input
      id="filter-input"
      class="filter"
      type="search"
      placeholder="Search website"
    ></b-form-input>
  </b-input-group>
</template>
