<template>
  <div class="footer">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-4">
          <div class="section">
            <button class="headings footer-logo">The Art Ville</button>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="d-flex flex-column section">
            <span class="mb-4 section-title">Company</span>
            <a href="" class="link mb-3">About us</a>
            <a href="" class="link mb-3">Careers</a>
            <a href="" class="link mb-3">Contact us</a>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="d-flex flex-column section">
            <span class="mb-4 section-title">Categories</span>
            <a href="" class="link mb-3">Painting</a>
            <a href="" class="link mb-3">Photography</a>
            <a href="" class="link mb-3">Sculpture</a>
            <a href="" class="link mb-3">Accessories</a>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="d-flex flex-column section">
            <span class="mb-4 section-title">Legal</span>
            <a href="" class="link mb-3">Terms of use</a>
            <a href="" class="link mb-3">Privacy policy</a>
            <a href="" class="link mb-3">Cookies policy</a>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="d-flex flex-column section">
            <span class="mb-4 section-title">Find us</span>

            <div class="d-flex mb-4">
              <img
                src="/images/icons/facebook.svg"
                class="mr-3 social-icon"
                alt="Facebook"
              />
              <img
                src="/images/icons/twitter.svg"
                class="mr-3 social-icon"
                alt="Twitter"
              />
              <img
                src="/images/icons/Instagram.svg"
                class="mr-3 social-icon"
                alt="Instagram"
              />
            </div>
            <a href="" class="link mb-3">info@theartville.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.footer {
  background: #6f4c5b;
  color: #fff;

  .section {
    margin-top: 2rem;
  }
  .section-title {
    font-size: 1rem;
    font-weight: 700;
  }

  .link {
    color: #fff;
  }
  .footer-logo {
    color: #6f4c5b;
    background: #ffffff;
    padding: 0.8rem 3rem;
  }
  .social-icon {
    width: 25px;
    height: 25px;
  }
}
</style>
