<template>
  <div class="mb-5 py-3 slider">
    <b-carousel
      id="carousel-fade"
      style="text-shadow: 0px 0px 2px #000"
      fade
      controls
      img-width="1024"
      img-height="480"
    >
      <b-carousel-slide caption="" img-src="/images/articles/item1.png">
      </b-carousel-slide>
      <b-carousel-slide
        caption=""
        img-src="/images/carousel/item.png"
      ></b-carousel-slide>
    </b-carousel>
  </div>
</template>

<style lang="scss">
.slider {
  .carousel-item {
    img {
      min-height: 300px;
      object-fit: cover;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 64px;
    height: 64px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 5%;
    opacity: 1;
    align-items: end;
  }

  .carousel-control-prev {
    right: 64px;
    left: auto;
  }
  .carousel-control-prev-icon {
    background-image: url("/images/icons/leftcontrol.svg");
  }
  .carousel-control-next-icon {
    background-image: url("/images/icons/rightcontrol.svg");
  }
}

@media (max-width: 640px) {
  .slider {
    .carousel-item {
      img {
        min-height: auto;
        object-fit: cover;
      }
    }
  }
}
</style>
