<template>
  <div class="sidebar" :class="{ show: isMenuOpen }">
    <div class="mt-4 mb-md-5 px-3 d-flex justify-content-between">
      <img src="/images/icons/logo.png" alt="" class="logo" />
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        @click="closeMenu()"
        class="d-xl-none d-flex align-items-center"
      >
        <path
          d="M6 6L18 18M6 18L18 6L6 18Z"
          stroke="#3F3F46"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>

    <div class="sidebar-items px-4">
      <!-- link to dashboard -->
      <router-link active-class="active" to="/dashboard" exact>
        <div class="d-flex sidebar-item align-items-center px-3 mb-3">
          <div class="icon mr-3 d-flex align-items-center">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.5092 9.72189L13.0086 2.9029C12.733 2.65063 12.373 2.51072 11.9995 2.51074C11.6259 2.51077 11.2659 2.65073 10.9905 2.90304L3.4911 9.72184C3.33659 9.86254 3.21313 10.0339 3.12858 10.225C3.04404 10.4161 3.00028 10.6228 3.0001 10.8317V19.4657C2.9958 19.8426 3.12953 20.2081 3.3761 20.4933C3.51657 20.653 3.68954 20.7808 3.88342 20.8682C4.07731 20.9555 4.28763 21.0004 4.50029 20.9999H8.9968C9.19572 20.9999 9.38648 20.9209 9.52713 20.7802C9.66779 20.6396 9.7468 20.4488 9.7468 20.2499V15.7492C9.7468 15.5503 9.82582 15.3595 9.96647 15.2189C10.1071 15.0782 10.2979 14.9992 10.4968 14.9992H13.4968C13.6957 14.9992 13.8865 15.0782 14.0271 15.2189C14.1678 15.3595 14.2468 15.5503 14.2468 15.7492V20.2499C14.2468 20.4488 14.3258 20.6396 14.4665 20.7802C14.6071 20.9209 14.7979 20.9999 14.9968 20.9999H19.5022C19.7486 21.0031 19.9918 20.9432 20.2085 20.8259C20.4477 20.6968 20.6476 20.5054 20.7869 20.2719C20.9263 20.0385 20.9999 19.7718 21.0001 19.4999V10.8318C20.9999 10.6228 20.9561 10.4162 20.8716 10.2251C20.7871 10.034 20.6637 9.86261 20.5092 9.72189Z"
                fill="#18181B"
              />
            </svg>
          </div>
          <span>Dashboard</span>
        </div>
      </router-link>

      <!-- link to my binary -->
      <router-link active-class="active" to="/mybinary" exact>
        <div class="d-flex sidebar-item align-items-center px-3 mb-3">
          <div class="icon mr-3 d-flex align-items-center">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.625 8.625V7.5H13.5C13.1023 7.50045 12.721 7.65864 12.4398 7.93984C12.1586 8.22105 12.0005 8.60231 12 9V15C12.0005 15.3977 12.1586 15.779 12.4398 16.0602C12.721 16.3414 13.1023 16.4995 13.5 16.5H14.625V15.375C14.6255 14.9773 14.7836 14.596 15.0648 14.3148C15.346 14.0336 15.7273 13.8755 16.125 13.875H19.875C20.2727 13.8755 20.654 14.0336 20.9352 14.3148C21.2164 14.596 21.3745 14.9773 21.375 15.375V19.125C21.3745 19.5227 21.2164 19.904 20.9352 20.1852C20.654 20.4664 20.2727 20.6245 19.875 20.625H16.125C15.7273 20.6245 15.346 20.4664 15.0648 20.1852C14.7836 19.904 14.6255 19.5227 14.625 19.125V18H13.5C12.7046 17.9991 11.9421 17.6827 11.3797 17.1203C10.8173 16.5579 10.5009 15.7954 10.5 15V12.75H7.875V13.5C7.87455 13.8977 7.71636 14.279 7.43516 14.5602C7.15395 14.8414 6.77269 14.9995 6.375 15H3.375C2.97731 14.9995 2.59605 14.8414 2.31484 14.5602C2.03364 14.279 1.87545 13.8977 1.875 13.5V10.5C1.87545 10.1023 2.03364 9.72105 2.31484 9.43984C2.59605 9.15864 2.97731 9.00045 3.375 9H6.375C6.77269 9.00045 7.15395 9.15864 7.43516 9.43984C7.71636 9.72105 7.87455 10.1023 7.875 10.5V11.25H10.5V9C10.5009 8.20463 10.8173 7.44209 11.3797 6.87968C11.9421 6.31726 12.7046 6.0009 13.5 6H14.625V4.875C14.6255 4.47731 14.7836 4.09605 15.0648 3.81484C15.346 3.53364 15.7273 3.37545 16.125 3.375H19.875C20.2727 3.37545 20.654 3.53364 20.9352 3.81484C21.2164 4.09605 21.3745 4.47731 21.375 4.875V8.625C21.3745 9.02269 21.2164 9.40395 20.9352 9.68516C20.654 9.96636 20.2727 10.1245 19.875 10.125H16.125C15.7273 10.1245 15.346 9.96636 15.0648 9.68516C14.7836 9.40395 14.6255 9.02269 14.625 8.625Z"
                fill="#18181B"
              />
            </svg>
          </div>
          <span>My Binary</span>
        </div>
      </router-link>

      <!-- link to wallet -->
      <router-link active-class="active" to="/wallet" exact>
        <div class="d-flex sidebar-item align-items-center px-3 mb-3">
          <div class="icon mr-3 d-flex align-items-center">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.25 6.75H5.25C5.05109 6.75 4.86032 6.67098 4.71967 6.53033C4.57902 6.38968 4.5 6.19891 4.5 6C4.5 5.80109 4.57902 5.61032 4.71967 5.46967C4.86032 5.32902 5.05109 5.25 5.25 5.25H18C18.1989 5.25 18.3897 5.17098 18.5303 5.03033C18.671 4.88968 18.75 4.69891 18.75 4.5C18.75 4.30109 18.671 4.11032 18.5303 3.96967C18.3897 3.82902 18.1989 3.75 18 3.75H5.25C4.65347 3.75068 4.08157 3.98795 3.65976 4.40976C3.23795 4.83157 3.00068 5.40347 3 6V18C3.00068 18.5965 3.23795 19.1684 3.65976 19.5902C4.08157 20.012 4.65347 20.2493 5.25 20.25H20.25C20.6477 20.2495 21.029 20.0914 21.3102 19.8102C21.5914 19.529 21.7495 19.1477 21.75 18.75V8.25C21.7495 7.85231 21.5914 7.47105 21.3102 7.18984C21.029 6.90864 20.6477 6.75045 20.25 6.75ZM16.875 14.625C16.6525 14.625 16.435 14.559 16.25 14.4354C16.065 14.3118 15.9208 14.1361 15.8356 13.9305C15.7505 13.725 15.7282 13.4988 15.7716 13.2805C15.815 13.0623 15.9222 12.8618 16.0795 12.7045C16.2368 12.5472 16.4373 12.44 16.6555 12.3966C16.8738 12.3532 17.1 12.3755 17.3055 12.4606C17.5111 12.5458 17.6868 12.69 17.8104 12.875C17.934 13.06 18 13.2775 18 13.5C18 13.7984 17.8815 14.0845 17.6705 14.2955C17.4595 14.5065 17.1734 14.625 16.875 14.625Z"
                fill="#18181B"
              />
            </svg>
          </div>
          <span>Wallet</span>
        </div>
      </router-link>

      <!-- link to message -->
      <router-link active-class="active" to="/message" exact>
        <div class="d-flex sidebar-item align-items-center px-3 mb-3">
          <div class="icon mr-3 d-flex align-items-center">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.25 4.49936H3.75001C3.3523 4.49975 2.971 4.65791 2.68978 4.93913C2.40856 5.22035 2.2504 5.60166 2.25001 5.99936V20.8895C2.24902 21.1756 2.32998 21.456 2.48332 21.6975C2.63666 21.939 2.85597 22.1316 3.1153 22.2524C3.37463 22.3732 3.66313 22.4172 3.94668 22.3792C4.23023 22.3412 4.49697 22.2228 4.71534 22.0379L7.69264 19.5345L20.25 19.4994C20.6477 19.499 21.029 19.3408 21.3102 19.0596C21.5915 18.7784 21.7496 18.3971 21.75 17.9994V5.99936C21.7496 5.60165 21.5915 5.22035 21.3102 4.93913C21.029 4.65791 20.6477 4.49975 20.25 4.49936ZM7.49991 13.1251C7.27741 13.1251 7.0599 13.0591 6.8749 12.9355C6.68989 12.8119 6.5457 12.6362 6.46055 12.4306C6.3754 12.225 6.35312 11.9988 6.39653 11.7806C6.43994 11.5624 6.54709 11.3619 6.70442 11.2046C6.86175 11.0473 7.06221 10.9401 7.28044 10.8967C7.49867 10.8533 7.72487 10.8756 7.93043 10.9607C8.136 11.0459 8.3117 11.1901 8.43532 11.3751C8.55893 11.5601 8.62491 11.7776 8.62491 12.0001C8.62491 12.2985 8.50639 12.5846 8.29541 12.7956C8.08443 13.0066 7.79828 13.1251 7.49991 13.1251ZM11.9999 13.1251C11.7774 13.1251 11.5599 13.0591 11.3749 12.9355C11.1899 12.8119 11.0457 12.6362 10.9605 12.4306C10.8754 12.225 10.8531 11.9988 10.8965 11.7806C10.9399 11.5624 11.0471 11.3619 11.2044 11.2046C11.3618 11.0473 11.5622 10.9401 11.7804 10.8967C11.9987 10.8533 12.2249 10.8756 12.4304 10.9607C12.636 11.0459 12.8117 11.1901 12.9353 11.3751C13.0589 11.5601 13.1249 11.7776 13.1249 12.0001C13.1249 12.2985 13.0064 12.5846 12.7954 12.7956C12.5844 13.0066 12.2983 13.1251 11.9999 13.1251ZM16.4999 13.1251C16.2774 13.1251 16.0599 13.0591 15.8749 12.9355C15.6899 12.8119 15.5457 12.6362 15.4605 12.4306C15.3754 12.225 15.3531 11.9988 15.3965 11.7806C15.4399 11.5624 15.5471 11.3619 15.7044 11.2046C15.8618 11.0473 16.0622 10.9401 16.2804 10.8967C16.4987 10.8533 16.7249 10.8756 16.9304 10.9607C17.136 11.0459 17.3117 11.1901 17.4353 11.3751C17.5589 11.5601 17.6249 11.7776 17.6249 12.0001C17.6249 12.2985 17.5064 12.5846 17.2954 12.7956C17.0844 13.0066 16.7983 13.1251 16.4999 13.1251Z"
                fill="#18181B"
              />
            </svg>
          </div>
          <span>Message</span>
        </div>
      </router-link>

      <!-- link to store -->
      <router-link active-class="active" to="/store" exact>
        <div class="d-flex sidebar-item align-items-center px-3">
          <div class="icon mr-3 d-flex align-items-center">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.9879 6.13417L19.8482 12.4025C19.7541 12.921 19.481 13.3901 19.0764 13.7277C18.6718 14.0654 18.1615 14.2502 17.6345 14.25H6.76231L7.17142 16.5H17.25C17.7279 16.4998 18.1935 16.6517 18.5794 16.9337C18.9653 17.2157 19.2513 17.6132 19.3962 18.0686C19.5411 18.5241 19.5373 19.0138 19.3853 19.4669C19.2334 19.92 18.9411 20.313 18.5509 20.589C18.1607 20.865 17.6928 21.0096 17.2149 21.0019C16.737 20.9942 16.274 20.8346 15.8929 20.5463C15.5117 20.2579 15.2323 19.8557 15.0949 19.3979C14.9576 18.9401 14.9695 18.4505 15.129 18H9.621C9.75315 18.3724 9.78491 18.773 9.71309 19.1616C9.64127 19.5502 9.46839 19.913 9.21184 20.2135C8.9553 20.5141 8.62414 20.7418 8.25166 20.8737C7.87919 21.0057 7.47854 21.0372 7.09001 20.9652C6.70148 20.8931 6.33877 20.72 6.03836 20.4633C5.73796 20.2066 5.51045 19.8753 5.37872 19.5028C5.24699 19.1302 5.21568 18.7295 5.28795 18.341C5.36021 17.9526 5.5335 17.5899 5.79039 17.2897L3.19226 3H1.5C1.30109 3 1.11032 2.92098 0.96967 2.78033C0.829018 2.63968 0.75 2.44891 0.75 2.25C0.75 2.05109 0.829018 1.86032 0.96967 1.71967C1.11032 1.57902 1.30109 1.5 1.5 1.5H3.19226C3.54359 1.49984 3.88382 1.62308 4.15356 1.8482C4.42329 2.07331 4.6054 2.38601 4.66809 2.7317L5.12595 5.25H20.25C20.3599 5.25001 20.4684 5.27415 20.5679 5.32071C20.6674 5.36727 20.7554 5.43512 20.8258 5.51946C20.8962 5.6038 20.9472 5.70257 20.9752 5.80879C21.0032 5.91501 21.0076 6.02609 20.9879 6.13417Z"
                fill="#18181B"
              />
            </svg>
          </div>
          <span class="mr-2">Store</span>
          <svg
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.5 10.5L10.5 3.5"
              stroke="#18181B"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4.8125 3.5H10.5V9.1875"
              stroke="#18181B"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </router-link>

      <!-- divider -->
      <div class="w-100 my-5" style="border-top: 1px solid #d4d4d8"></div>
      <router-link active-class="active" to="/helpdesk">
        <div class="d-flex sidebar-item align-items-center px-3">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 2.25C10.0716 2.25 8.18657 2.82183 6.58319 3.89317C4.97982 4.96451 3.73013 6.48726 2.99218 8.26884C2.25422 10.0504 2.06114 12.0108 2.43735 13.9021C2.81355 15.7934 3.74215 17.5307 5.10571 18.8943C6.46928 20.2579 8.20656 21.1865 10.0979 21.5627C11.9892 21.9389 13.9496 21.7458 15.7312 21.0078C17.5127 20.2699 19.0355 19.0202 20.1068 17.4168C21.1782 15.8134 21.75 13.9284 21.75 12C21.747 9.41506 20.7188 6.93684 18.891 5.10901C17.0632 3.28118 14.5849 2.25299 12 2.25ZM11.9999 6.75C12.2224 6.75 12.4399 6.81598 12.6249 6.9396C12.8099 7.06321 12.9541 7.23891 13.0393 7.44448C13.1244 7.65005 13.1467 7.87625 13.1033 8.09448C13.0599 8.31271 12.9527 8.51316 12.7954 8.6705C12.6381 8.82783 12.4376 8.93498 12.2194 8.97838C12.0012 9.02179 11.775 8.99951 11.5694 8.91436C11.3638 8.82922 11.1881 8.68502 11.0645 8.50002C10.9409 8.31501 10.8749 8.0975 10.8749 7.875C10.8749 7.72726 10.904 7.58097 10.9605 7.44448C11.0171 7.30799 11.1 7.18397 11.2044 7.0795C11.3089 6.97504 11.4329 6.89217 11.5694 6.83563C11.7059 6.7791 11.8522 6.75 11.9999 6.75H11.9999ZM12.75 17.25H12C11.9015 17.2501 11.8039 17.2307 11.7129 17.193C11.6219 17.1554 11.5392 17.1001 11.4695 17.0305C11.3999 16.9608 11.3447 16.8781 11.307 16.7871C11.2693 16.6961 11.2499 16.5985 11.25 16.5V12C11.0511 12 10.8603 11.921 10.7197 11.7803C10.579 11.6397 10.5 11.4489 10.5 11.25C10.5 11.0511 10.579 10.8603 10.7197 10.7197C10.8603 10.579 11.0511 10.5 11.25 10.5H12C12.0985 10.4999 12.1961 10.5193 12.2871 10.557C12.3781 10.5946 12.4608 10.6499 12.5305 10.7195C12.6001 10.7892 12.6554 10.8719 12.693 10.9629C12.7307 11.0539 12.7501 11.1515 12.75 11.25V15.75C12.9489 15.75 13.1397 15.829 13.2803 15.9697C13.421 16.1103 13.5 16.3011 13.5 16.5C13.5 16.6989 13.421 16.8897 13.2803 17.0303C13.1397 17.171 12.9489 17.25 12.75 17.25Z"
              fill="#18181B"
            />
          </svg>
          <span class="ml-3">Help Desk</span>
        </div>
      </router-link>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  computed: {
    ...mapGetters({
      isMenuOpen: "isMenuOpen",
    }),
  },
  watch: {
    $route() {
      this.closeMenu();
    },
  },
  methods: {
    ...mapMutations(["closeMenu"]),
  },
};
</script>
<style lang="scss" scoped>
@import "../../assets/css/sass/_variables.scss";

.sidebar {
  background-color: #fff;
  color: #a1a1aa;
  font-weight: 500;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  font-size: 0.95rem;

  .logo {
    width: 150px;
  }

  a.active {
    .sidebar-item {
      background: #18181b;
      border-radius: 5px;
      color: #fff;
      font-weight: 700;
    }

    svg path {
      fill: #fff;
    }
  }

  a:hover {
    .sidebar-item {
      font-weight: 700;
    }
  }

  .sidebar-item {
    padding: 0.75rem 0;
    border-left: 5px solid transparent;
  }
  .menu-head {
    color: #d4d4d8;
    font-weight: 700;
    font-size: 0.8rem;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }

  .sidebar.show {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    left: 0;
  }
}
</style>
