$separator-color-light: #313131;
$separator-color: #424242;
$background-color: #18191b;
$foreground-color: #3f3f46;
$input-background: #232223;

$dark-btn-background: #8d8d8d;
$light-btn-background: #e4e4e4;
$button-text-color: #d0d0d0;

$theme-color-1: #1e3a8a;
$theme-color-2: #3b82f6;
$theme-color-3: #fb923c;
$theme-color-4: #18181b;
$theme-color-5: #3f3f46;
$theme-color-6: #fafafa;

$primary-color: #8f8f8f;
$secondary-color: #707070;
$muted-color: #696969;

$gradient-color-1: #256b99;
$gradient-color-2: #18557e;
$gradient-color-3: #216491;

$lp-bg-color-1: #001425;
$lp-bg-color-2: #001f33;
$lp-bg-color-3: #00273b;
$lp-bg-color-4: #003f5f;

$shadow-offsets-top: 1 3 10 14 19;
$shadow-blurs-top: 2 6 10 14 19;
$shadow-opacities-top: 0.1 0.3 0.6 0.7 0.8;

$shadow-offsets-bottom: 1 3 6 10 15;
$shadow-blurs-bottom: 3 6 6 5 6;
$shadow-opacities-bottom: 0.1 0.3 0.6 0.7 0.8;

$logo-path: "/assets/logos/white.svg";
$logo-path-mobile: "/assets/logos/mobile.svg";

$lp-logo-path-pinned: "/assets/logos/white-full.svg";
$lp-logo-path: "/assets/logos/white-full.svg";
