@import "./_mixins.scss";
@import "./_variables.scss";
@import "./utils.scss";
@import "./plugins.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
// import vue select styles
// @import "vue-select/src/scss/vue-select.scss";

* {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #3f3f46;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headings {
  font-family: "Abril Fatface", cursive;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
  }
}

.link {
  border-bottom: 2px solid #6f4c5b;
  color: #6f4c5b;
  font-weight: 500;
}

h1 {
  color: #27272a;
  font-size: 1.3rem;
  font-weight: 700;
}

h3 {
  font-size: 1.3rem;
}

hr {
  border-top: 1px solid #a1a1aa;
}

.font-bold {
  font-weight: 700 !important;
}
.font-medium {
  font-weight: 500 !important;
}

.text-small {
  font-size: 12px !important;
}

.logo {
  width: 180px;
}
.btn {
  padding: 0.6rem 1rem;
  border-radius: 0;
  font-weight: 500;

  &:focus {
    box-shadow: none;
  }
}

.btn-full {
  background: #6f4c5b;
  color: #fff;

  &:hover {
    transform: scale(1.05, 1);
    color: #fff;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

img {
  width: 100%;
}

.filter {
  background: #f4f4f5;
  border-radius: 5px;
  padding: 0 0.5rem;

  .form-control {
    background: #f4f4f5;
    border-radius: 10px;
    border-color: #f4f4f5;
    box-shadow: none;
    padding: 0.5rem;
    // min-width: 300px;

    color: #52525b;
    font-weight: 500;
    height: auto !important;
  }

  .input-group-append {
    padding: 0.5rem;
  }
}

// nav icons
#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #2c2c2c;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover {
  border: none;
  outline: none;
}
